@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');

html, body { 
  margin: 0; 
  padding-bottom: 3rem; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
  height: 100%;
}

#form { 
  background: rgba(0, 0, 0, 0.15); 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  height: 3rem; 
  box-sizing: border-box; 
  backdrop-filter: blur(10px); 
}

#input { 
  border: none; 
  padding: 0 1rem; 
  flex-grow: 1; 
  border-radius: 2rem; 
  margin: 0.25rem; 
}

#input:focus { 
  outline: none;
}
      
#form > button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
      
#messages > li { 
  padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
  background: #efefef; 
}  

#onStart {
  text-align: center;
  background-image: url("header.jpg");
  height: 100%;
  margin: 0;
  min-height: 100%;
}

#title {
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 9px 13px #39dbc2,
               15px 17px #34b4eb; 
  padding: 0;

}

#username {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid rgb(236, 254, 255); 
  box-shadow: 0 0 15px 4px #efefef;
  border-radius: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color:#39dbc2;
  color:#fff;
  font-weight: 700;
  border-radius: 3px;
}

/* .content {
  height: 100%;
} */

#during {
  height: 0%;
}

#lobby {
  background-color: #8da4ad;
  height: 100%;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  width: 100%;
}

.big-text {
  max-width: 80%;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 9px 13px #39dbc2,
               15px 17px #34b4eb; 
  padding: 0;
  /* font-size: 65px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #39dbc2;
  white-space: nowrap;

  /* position: absolute; */
      background: -webkit-repeating-linear-gradient(
        135deg,
        #39dbc2,
        #39dbc2 20px,
        #34b4eb 20px,
        #34b4eb 20px * 2,
        #39dbc2 20px * 2,
        #39dbc2 20px * 3,
        #39dbc2 20px * 3,
       #39dbc2 20px * 4
      );
      background-clip: text;
      -webkit-background-clip: text;

  /* text-shadow: 5px 0px #39dbc2,
                   5px + 1px 0 #39dbc2 #34b4eb,
                   5px + 1px * 2 0 #39dbc2,
                   5px + 1px * 3 0 #39dbc2,
                   5px + 1px * 4 0 #39dbc2,
                   5px + 1px * 5 0 #39dbc2,
                   5px + 1px * 6 0 #39dbc2,
                   5px + 1px * 7 0 #39dbc2,
                   5px + 1px * 8 0 #39dbc2,
                   5px + 1px * 9 0 #39dbc2,
                   5px + 1px * 10 0 #39dbc2; */
  /* text-shadow: 9px 13px #39dbc2,
               15px 17px #34b4eb;  */
}

.column {
  height: 100%;
}

#left {
  float: left;
  width: 20%;
  max-width: 20%;
  background-image: url("header.jpg");
}
#right {
  float: right;
  max-width: 20%;
  width: 20%;
  background-image: url("header.jpg");
}

#middle {
  float: middle;
  max-width: 80%;
  width: 80%;

}

#players {
  text-align: center;
  color: white;
  list-style-type: none; 
}

@media only screen and (max-width: 1000px) {
  #left{
    background-image: none;
  }
  #right {
    background-image: none;
  }
  .big-text {
  max-width: 80%;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 9px 13px #39dbc2,
               15px 17px #34b4eb; 
  padding: 0;
  /* font-size: 65px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #39dbc2;
  white-space: nowrap;

  /* position: absolute; */
      background: -webkit-repeating-linear-gradient(
        135deg,
        #39dbc2,
        #39dbc2 20px,
        #34b4eb 20px,
        #34b4eb 20px * 2,
        #39dbc2 20px * 2,
        #39dbc2 20px * 3,
        #39dbc2 20px * 3,
       #39dbc2 20px * 4
      );
      background-clip: text;
      -webkit-background-clip: text;

  /* text-shadow: 5px 0px #39dbc2,
                   5px + 1px 0 #39dbc2 #34b4eb,
                   5px + 1px * 2 0 #39dbc2,
                   5px + 1px * 3 0 #39dbc2,
                   5px + 1px * 4 0 #39dbc2,
                   5px + 1px * 5 0 #39dbc2,
                   5px + 1px * 6 0 #39dbc2,
                   5px + 1px * 7 0 #39dbc2,
                   5px + 1px * 8 0 #39dbc2,
                   5px + 1px * 9 0 #39dbc2,
                   5px + 1px * 10 0 #39dbc2; */
  /* text-shadow: 9px 13px #39dbc2,
               15px 17px #34b4eb;  */
}
}